.container {
  max-width: 62.5rem;
  margin: 8rem auto 4rem auto;
  /* border: 1px solid red; */
  
}

.title {
  text-align: center;
  font-family: var(--font-title);
  font-weight: bold;
  font-size: 3rem;
  color: var(--principal-600);
  margin-bottom: 1.5rem;
}

.credits {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;

}

.credits a {
  text-decoration: none;
  font-family: var(--font-text);
  color: var(--bw-400);
  
}

.creditIcon {
  max-width: 1.25rem;  
}

.carouselContainer {
  max-width: 62.5rem;
  overflow: hidden;
  position: relative;
 
}

.carouselWrapper {
  width: max-content;
  overflow: hidden;
  position: relative;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}


.carousel {
  display: flex;
  gap: 0.5rem;
  /* transform: translateX(-90%); */
  animation: carouselAnime 35s linear infinite;
  
}

.carousel:nth-child(even) {
  animation-direction: reverse;
  
}

@keyframes carouselAnime {
  0% {
    transform: translateX(0%);
  }
  
  100% {
    transform: translateX(-90%);
  }
}

.carouselBox {
  background: linear-gradient(to bottom, var(--principal-200), var(--principal-300));
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  width: max-content;
}

.carouselText {
  font-family: var(--font-text);
  font-size: 1rem;
  text-transform: lowercase;
  color: var(--principal-950);
  font-weight: 500;
}

.carouselFade {
  background: linear-gradient(90deg,var(--bw-50),transparent 30%,transparent 70%,var(--bw-50));
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  top: 0;
  inset: 0;
  pointer-events: none;

}