.container {
  display: flex;
  justify-content: space-between;
  box-shadow: 1.95px 1.95px 2.6px 0px rgba(0, 0, 0, 0.15);
  background: var(--bw-50);
  overflow-x: auto;
}

.link  {
  font-family: var(--font-title);
  padding: 0.75rem;
  font-size: 1rem;
  color: var(--bw-500);
  font-weight: 600;
  text-decoration: none;
  flex: 1;
  word-break: keep-all;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:global(.active) {
  color: var(--principal-500);
  background: var(--principal-100);
}