.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 62.5rem;
  border-bottom: 2px solid var(--bw-100);
  padding: 1rem 0.75rem;
  margin-bottom:  2rem ;
  background: var(--bw-50);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
  transition: padding .3s;
}

.container.scroll {
  padding-block: .5rem;
}

.logo {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 2rem;
  color: var(--principal-500);
  text-decoration: none;
}

.switchContainer {
  width: fit-content;
}

.switchContainer .input {
  display: none;
}

.switchContainer .input + label {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #78768d;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--font-text);
  font-size: 12px;
  line-height: 15px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switchContainer .input + label::before,
  .switchContainer .input + label::after {
  content: '';
  display: block;
}

.switchContainer .input + label::before {
  background-color: var(--principal-500);
  border-radius: 500px;
  height: 15px;
  margin-right: 8px;
  -webkit-transition: background-color 0.125s ease-out;
  transition: background-color 0.125s ease-out;
  width: 25px;
}

.switchContainer .input + label::after {
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
  height: 13px;
  left: 1px;
  position: absolute;
  top: 1px;
  -webkit-transition: -webkit-transform 0.125s ease-out;
  transition: -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out;
  transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
  width: 13px;
}

.switchContainer .input + label .switchText {
  display: block;
  margin-right: .3em;
}

.switchContainer .input + label .toggleText {
  display: block;
  font-weight: bold;
  height: 15px;
  overflow: hidden;
  position: relative;
  width: 8ch;
  color: var(--principal-500);

}

.switchContainer .input + label .switchUnchecked,
  .switchContainer .input + label .switchChecked{
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
}

.switchContainer .input + label .switchUnchecked {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.switchContainer .input + label .switchChecked{
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.switchContainer .input + label .hiddenLabel {
  position: absolute;
  visibility: hidden;
}

.switchContainer .input:checked + label::before {
  background-color: #ffb500;
}

.switchContainer .input:checked + label::after {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
}

.switchContainer .input:checked + label .switchUnchecked {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.switchContainer .input:checked + label .switchChecked{
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
